/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'Artifakt Element Regular';
  src: url('fonts/Artifakt Element Regular.woff') format('woff');
}

/* Content */

:root {
  /* --ifm-color-primary: #333333;
  --ifm-color-primary-dark: #2e2e2e;
  --ifm-color-primary-darker: #2b2b2b;
  --ifm-color-primary-darkest: #000000;
  --ifm-color-primary-light: #383838;
  --ifm-color-primary-lighter: #3b3b3b;
  --ifm-color-primary-lightest: #424242; */
  --ifm-color-primary: #333333;
  --ifm-color-primary-dark: #2e2e2e;
  --ifm-color-primary-darker: #2b2b2b;
  --ifm-color-primary-darkest: #242424;
  --ifm-color-primary-light: #383838;
  --ifm-color-primary-lighter: #3b3b3b;
  --ifm-color-primary-lightest: #424242;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: 'Artifakt Element Regular';
  --ifm-font-family-base: 'Artifakt Element Regular';
  --forge-bg-color: rgb(62, 149, 209);
}

h1 {
  font-family: ArtifaktLegend, sans-serif;
  font-size: clamp(1.5rem, 1.29rem + 0.926vw, 2.125rem);
  font-weight: 800;
}

header>h1 {
  display: none;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* Sidebar */

.menu__list-item-collapsible:hover {
  background-color: #fff;
}

.menu__link {
  color: #000;
  font-weight: 200 !important;
}

.menu__link:hover {
  color: #000;
  background-color: #fff;
}

.menu__link--active {
  color: #5D3FD3;
  font-weight: 600 !important;
  background-color: #fff !important;
}

.menu__link--active::after {
  display: none;
}

.menu__link--sublist-caret::after {
  display: none;
}

.menu__link--active:hover {
  color: #5D3FD3;
  background-color: #fff;
}

.clean-btn {
  display: none;
}

/* Navbar */

.navbar {
  background-color: #f5f5f5;
}

.navbar__logo,
.navbar__logo img {
  height: 19px;
}

.navbar__link {
  font-size: 14px;
}

.navbar__items>.navbar__item>svg {
  display: none;
}

.dropdown--hoverable>.navbar__link>svg {
  display: none;
}

.dropdown__link>svg {
  display: none;
}



/* Dark Theme */

html[data-theme='dark'] body {
  background-color: #18191A;
  color: #fff;
}

html[data-theme='dark'] h1 {
  color: #fff;
}

html[data-theme='dark'] .breadcrumbs__link {
  background-color: #18191A;
  color: #fff !important;
}

html[data-theme='dark'] .breadcrumbs__item--active>.breadcrumbs__link {
  background-color: #242526;
  color: #5D3FD3 !important;
}


html[data-theme='dark'] .tabs__item--active {
  color: #5D3FD3;
  border-bottom: 3px solid #5D3FD3;

}

html[data-theme='dark'] a[rel="noopener noreferrer"] {
  color: #5D3FD3;
}

html[data-theme='light'] p a[rel="noopener noreferrer"] {
  color: #5D3FD3;
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

.menu__list-item-collapsible:hover {
  background-color: rgba(0, 0, 0, 0) !important;
}

.menu__list-item-collapsible--active {
  background-color: rgba(0, 0, 0, 0) !important;
}


html[data-theme='dark'] .menu__link {
  color: #fff;
}

html[data-theme='dark'] .menu__link:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0) !important;
}

html[data-theme='dark'] .menu__link--active {
  color: #5D3FD3;
  font-weight: 600 !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

html[data-theme='dark'] .menu__link--active:hover {
  color: #5D3FD3;
}

html[data-theme='dark'] .table-of-contents__link {
  color: #fff;
}

html[data-theme='dark'] .navbar {
  background-color: rgb(24, 25, 26);
}

html[data-theme='dark'] .navbar__logo img {
  filter: invert();
}

html[data-theme='dark'] .navbar__link {
  background-color: rgb(24, 25, 26);
  color: #f9f9f9;
}

html[data-theme='dark'] .navbar__link:hover {
  background-color: rgb(24, 25, 26);
  color: #f9f9f9;
}

html[data-theme='dark'] .navbar__link {
  background-color: rgb(24, 25, 26);
  color: #f9f9f9 !important;
}

html[data-theme='dark'] .dropdown__link {
  color: #f9f9f9 !important;
}

html[data-theme='dark'] a {
  color: #5D3FD3;
}