/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@font-face {
  font-family: 'Artifakt Element Regular';
  src: url('fonts/Artifakt Element Regular.woff') format('woff');
}

:root {
  --ifm-color-primary: #ee8922;
  --ifm-color-primary-dark: #e37b11;
  --ifm-color-primary-darker: #d77511;
  --ifm-color-primary-darkest: #b1600e;
  --ifm-color-primary-light: #f0963b;
  --ifm-color-primary-lighter: #f19d48;
  --ifm-color-primary-lightest: #f4b16e;
  --ifm-code-font-size: 95%;
  --ifm-font-family-monospace: 'Artifakt Element Regular';
  --ifm-font-family-base: 'Artifakt Element Regular';
  --forge-bg-color: rgb(62, 149, 209);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #f5f5f5;
}

html[data-theme='dark'] .navbar {
  background-color: rgb(24, 25, 26);
}

.navbar__logo, .navbar__logo img {
  height: 19px;
}

html[data-theme='dark'] .navbar__logo img {
  filter: invert();
}

.navbar__link {
  font-size: 14px;
}
